/* *{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFFFEC;
}

.btn{
    text-decoration: none;
    background-color: #597E52;
    color: #FFFFEC;
    display: inline-block;
    padding: 10px;
    height: 20px;
    border: solid;
    border-radius: 10px;
}

.btn:hover{
    opacity: 0.8;
}

h1{
    color: #4a644c;
    font-size: 40px;
} */

